NODE_ENV=development

CORS_ORIGIN=http://localhost:5173
PORT=5904
MONGO_URI=mongodb+srv://<username>:<password>@cluster0...
JWT_SECRET=your_jwt_secret

EMAIL_USER=gmail@gmail.com
EMAIL_PASS=16DigitPassword

CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

RAZORPAY_KEY_ID=key_id
RAZORPAY_KEY_SECRET=key_secret

SEED_ADMIN_PASSWORD=change_this_admin_password
SEED_USER_PASSWORD=change_this_user_password