NODE_ENV=development

CORS_ORIGIN=http://localhost:5173
PORT=5904
MONGO_URI=mongodb+srv://<username>:<password>@cluster0...
JWT_SECRET=your_jwt_secret

RESEND_API_KEY=slfksldkjfdslkjfdslkjf
EMAIL_FROM=VIPHive <noreply@your-verified-domain.com>

CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=api_key
CLOUDINARY_API_SECRET=api_secret

RAZORPAY_KEY_ID=key_id
RAZORPAY_KEY_SECRET=key_secret

SEED_USER_PASSWORD=password